#container {
    width: 20%;
    margin: 5% auto;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
    background: #f7f7f7;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;

    background: #5f2c82; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5f2c82 , #49a09d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5f2c82 , #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

li {
    background: white;
    height: 40px;
    line-height: 40px;

}
li:nth-child(2n){
    background: #f7f7f7;
}

h1 {
    background: #2980b9;  /*blue color. don't know how to select that but it doesn't matter*/
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
}

input {
    color: #2980b9;
    font-size: 18px;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box; /*note: this is for making the size of th input exactly inside the container. the width does not include padding*/
}
input:focus{
    background: white;
    border: 3px solid #2980b9;
    outline: none;
}

.fa-pencil{
    float: right;
}

span {
    color: white;
    background: darkred;
    display: inline-block; /*fills the entire span block witth the red color*/
    width: 0;
    transition: 0.2s;
    text-align: center;
    margin-right: 10px;
}

li:hover span{
    width: 40px;
}