article {
  padding: 20px;
  margin: 30px;
  width: 300px;
  //border: 1px solid #95a5a6;
  box-shadow:  3px 3px 3px #ccc;
  background-color: rgba(0,0,0,0.1);
  text-align: center;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;

  .image {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-bottom: 20px;
    background-size: contain;
    background: no-repeat center;
  }

  .image.detail {
    width: 340px;
    height: 180px;
    margin-left: -20px;
    margin-top: -20px;
    background-size: cover;
  }

  .description {
    width: 100%;
    display: inline-block;
    font-size: 14px;

    h1 {
      font-size: 20px;
      margin: 0 0 10px 0;
      padding: 0;
      color: #2c3e50;
    }

    .info {
      font-size: 14px;
      color: #515152;
      margin-bottom: 10px;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  article {
    margin: 30px 0;
  }

}

@media screen and (max-width: 400px) {
  article {
    width: 200px;

    .image.detail {
      width: 240px;
    }
  }


}