<div class="row my-pic">
    <h4>Title</h4>
    <img src="img/1.jpg">
</div>
<div class="row">
    <div class="col-md-8">
        <br/>
        <p>The navbar collapses into its vertical mobile view when the viewport is narrower than
            @grid-float-breakpoint, and expands into its horizontal non-mobile view when the
            viewport is at least @grid-float-breakpoint in width. Adjust this variable in the
            Less source to control when the navbar collapses/expands. The default value is 768px
            (the smallest "small" or "tablet" screen).
        </p>
        <h3>Buy It Now</h3>
    </div>
</div>

