<div class="row my-pic">
    <h4>{{templates[templateId].name}}</h4>
    <div class="col-lg-8 md-8">
        <img src="img/{{templates[templateId].images[0].name}}">
    </div>
    <div class="col-lg-4 col-md-4">
        <br/>
        <p>{{templates[templateId].description}}</p>
        <p>{{templates[templateId].price| currency}}</p>
        <h3>Buy It Now</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <br/>
        <p>{{templates[templateId].description}}</p>
        <p>{{templates[templateId].price| currency}}</p>
        <h3>Buy It Now</h3>
    </div>
</div>

