body {
  font-family: "Merriweather Sans", "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.setup , .puzzle {
  padding: 16px;
  margin-bottom: 32px;
  h2 {
    margin: 0;
  }
}

.setup {
  border: 1px solid #ccc;
  background-color: #eee;
}

.puzzle {
  border: 1px solid red;
  background-color: #ffdbd6;
}

.puzzle.solved {
  border: 1px solid green;
  background-color: #ccffda;
}

.name {
  font-weight: bold;
}

.my-box {
  background: #eee;
  border: 1px solid #ccc;
  margin-buttom: 32px;
  margin-top: 32px;
  padding: 16px;
}

button {
  cursor: default;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button:not([disabled]) {
  cursor: pointer;
}

button:not([disabled]):hover {
  background-color: salmon;
  color: white;
}